.Search .icon
{
  position: relative ;
  box-shadow: rgba(250, 250, 250, 0.3) ;
}

.Search input 
{
    background: transparent ;
    font-size: 1.5em ;
    font-weight: 300 ;
    height: 50px ;
    width: 45px ;
    position: relative ;
    border: 1px solid #fff ;
    transition: width 1s ;
    text-indent: 45px ;
}

::placeholder
{
    color: #fff ;
}

.Search input:active,
.Search input:focus
{
    font-size: 1 em ;
    font-weight: 300 ;
    height: 40px ;
    width: 200px ;
    border-bottom: 1px solid #fff ;
    transition: width 1s ;
}